@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model User

<section>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="container section-title" data-aos="fade-up">
                    <h2>Register</h2>
                    <hr>
                </div><!-- End Section Title -->

                @{
                    ViewData["Title"] = "Register";

                }

                <h2>@ViewData["Title"]</h2>

                <form method="post" action="Register">
                    <div class="form-group">
                        <label for="UserID" class="control-label">ID Number</label>
                        <input id="UserID" name="UserID" class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="FullName" class="control-label">Full Name</label>
                        <input id="FullName" name="FullName" class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Email" class="control-label">E-Mail</label>
                        <input id="Email" name="Email" class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="PhoneNumber" class="control-label">Phone Number</label>
                        <input id="PhoneNumber" name="PhoneNumber" class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Password" class="control-label">Password</label>
                        <input id="Password" name="Password" type="password" class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="UserRoleID" class="control-label">Role</label>
                        <select id="UserRoleID" name="UserRoleID" class="form-control">
                            <option disabled selected value="">Select a Role</option>
                            @foreach (var role in ViewBag.Roles as List<Role>)
                            {
                                <option value="@role.RoleID">@role.RoleName</option>
                            }
                        </select>
                        <span class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn-login">Register</button>
                </form>

                
                @{
                    if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success">@TempData["SuccessMessage"]</div>
                    }

                    if (!ViewData.ModelState.IsValid)
                    {
                        foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                        {
                            <div class="alert alert-danger">@error.ErrorMessage</div>
                            Console.WriteLine($"Model Error: {error.ErrorMessage}");
                        }
                    }
                }
            </div>
        </div>
    </div>
</section>